#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/*Nav Bar*/
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ddd;
  padding: 20px 0px;
  display: flex;
  perspective: 1px;
  overflow: hidden;
}
.topnav a {
  float: right;
    top: 50px;
    right: 50px;
    background: rgba(255,255,255,0.9);
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
    box-shadow: 0 20px 20px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    z-index: 10;
    margin: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #9999ff;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: white;
  color: black;
}

/*Button that goes to avatar page*/
.discover {
  color:white;
}

.clothes {
  color: blue;
}